// --------------LOADER------------------

.loader {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background-color: hsla(0, 0%, 100%, 0.9);
	z-index: 10000;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: loader 0.01s;
	animation-delay: 1s;
	animation-fill-mode: both;
	cursor: wait;
	.load {
		width: 10rem;
		height: 7.5rem;
		display: flex;
		justify-content: space-evenly;
		&__circle {
			height: 1.5rem;
			width: 1.5rem;
			border-radius: 100px;
			animation: bars 0.5s both infinite ease-in-out alternate;
			&--1 {
				background-color: $color-primary;
			}
			&--2 {
				background-color: $color-secondary;
			}
			&--3 {
				background-color: $color-tertiary;
			}
		}
	}
}
