*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

body, html {
  font-family: Roboto, Arial, Helvetica;
}

h1, h5, .rob {
  font-family: Shrikhand, Arial, Helvetica;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
    transform: rotate3d(0, 0, 1, -360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loader 0.01s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  cursor: wait;
}
.loader .load {
  width: 10rem;
  height: 7.5rem;
  display: flex;
  justify-content: space-evenly;
}
.loader .load__circle {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  animation: bars 0.5s both infinite ease-in-out alternate;
}
.loader .load__circle--1 {
  background-color: #9356dc;
}
.loader .load__circle--2 {
  background-color: #ff79da;
}
.loader .load__circle--3 {
  background-color: #99e2d0;
}

.header {
  background-color: #ffff;
  padding: 0.8rem;
  box-shadow: 10px 1px 1px gray;
  position: relative;
}
.header__logo {
  text-align: center;
}
.header__icon {
  position: absolute;
  top: 28px;
  left: 20px;
  color: black;
}

.footer {
  background: #353535;
  padding: 1rem;
  color: #ffff;
}
@media screen and (min-width: 500px) {
  .footer {
    text-align: center;
  }
}
.footer__logo {
  font-size: 1.2rem;
  padding-left: 1rem;
  width: 8rem;
}
.footer__contact {
  padding: 1rem;
}
.footer__list {
  padding-bottom: 0.6rem;
}
.footer__list--link {
  color: #ffff;
}
.footer__icon {
  padding-right: 0.6rem;
}

.localisation {
  background-color: #eaeaea;
  text-align: center;
  padding: 1.3rem;
  font-weight: 500;
  box-shadow: 16px 0 0 #eaeaea;
}
.localisation__icon {
  padding: 0.5rem;
}

.information {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.information__title {
  font-size: 1.5rem;
}
.information__text {
  padding: 1rem 0 0;
  color: #686767;
}
.information__btn {
  margin: 1.8rem auto;
  background: #9356dc;
  background: linear-gradient(352deg, #9356dc, #ff79da 100%);
  border-radius: 2rem;
  padding: 0.9rem;
  width: 12.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #ffff;
  border: none;
  cursor: pointer;
  box-shadow: 3px 10px 5px #eaeaea;
  transition: opacity, box-shadow 0.7s ease-in-out;
}
.information__btn:hover {
  opacity: 0.85;
  box-shadow: 3px 10px 5px #c5c5c5;
}

.process__title {
  margin-left: 1rem;
  font-size: 1.3rem;
}
@media screen and (min-width: 1140px) {
  .process__title {
    text-align: center;
  }
}
.process__list {
  padding: 1rem;
}
.process__step {
  background-color: #f6f6f6;
  padding: 1.5rem;
  margin-bottom: 1.4rem;
  border-radius: 1rem;
  box-shadow: 3px 10px 5px #eaeaea;
  position: relative;
  display: flex;
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .process__step {
    width: 30%;
    margin: 1.5rem auto;
  }
}
.process__step:hover {
  background-color: #f5edff;
}
.process__step:hover .process__icon {
  color: #9356dc;
}
.process__counter {
  position: absolute;
  left: -10px;
  background-color: #9356dc;
  border-radius: 100px;
  width: 1.2rem;
  height: 1.2rem;
  padding: 0.2rem;
  color: #ffff;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process__icon {
  color: gray;
  margin-left: 0.7rem;
}
.process__text {
  font-weight: bold;
  margin: 0 auto;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 2.5rem 1rem;
}
@media screen and (min-width: 1140px) {
  .restaurant__test {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
    margin: 2rem;
  }
}
.restaurant__title {
  margin-bottom: 1.2rem;
  font-size: 1.3rem;
}
@media screen and (min-width: 1140px) {
  .restaurant__title {
    text-align: center;
  }
}
.restaurant__card {
  position: relative;
  border-radius: 1rem;
  background-color: #ffff;
  margin-bottom: 2rem;
  width: 100%;
  box-shadow: 3px 10px 5px #eaeaea;
}
.restaurant__img {
  object-fit: cover;
  width: 100%;
  height: 11rem;
  border-radius: 1rem 1rem 0 0;
}
.restaurant__new {
  background-color: #99e2d0;
  color: #0f9070;
  font-size: small;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 12px;
  right: 15px;
}
.restaurant__footer {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant__name {
  font-size: 1rem;
  padding-bottom: 0.2rem;
  color: black;
}
.restaurant__text {
  color: black;
}
.restaurant__anim {
  font-size: 1.3rem;
  color: #696868;
}
.restaurant__icon:hover {
  opacity: 0;
}
.restaurant__icon--animation {
  position: absolute;
  transition: 1s ease-in-out;
  right: 12.5px;
  opacity: 0;
}
.restaurant__icon--animation:hover {
  opacity: 1;
  background: linear-gradient(352deg, #9356dc, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.8s;
}

.image {
  width: 100%;
  height: 18rem;
}
@media screen and (min-width: 1140px) {
  .image {
    height: 28rem;
  }
}
.image__background {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu {
  background-color: #f6f6f6;
  padding: 1rem;
  position: relative;
  margin-top: -3.5rem;
  border-radius: 2rem 2rem 0 0;
}
.menu__title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 1rem;
}
.menu__name {
  font-size: 1.3rem;
  font-weight: 500;
}
.menu__icon {
  font-size: 1.3rem;
}
.menu__icon:hover {
  font-size: 1.3rem;
  opacity: 0;
}
.menu__icon--animation {
  font-size: 1.3rem;
  position: absolute;
  right: 0px;
  opacity: 0;
}
.menu__icon--animation:hover {
  transition: 0.8s;
  font-size: 1.3rem;
  background: linear-gradient(352deg, #9356dc, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}

@media screen and (min-width: 1140px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 0 2.5rem;
  }
}
.container__meal {
  margin-top: 2rem;
}
.container__title {
  font-weight: 400;
  border-bottom: 3px #99e2d0 solid;
  width: 35px;
}

.meal {
  cursor: pointer;
  box-shadow: 3px 10px 5px #eaeaea;
  background-color: #ffff;
  margin: 1rem 0.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.meal__choise {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.meal__name {
  padding: 0.5rem 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.meal__text {
  padding: 0 0 0.5rem 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.meal__price {
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  justify-content: flex-end;
  font-weight: 900;
}
.meal:hover .meal__price {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: flex;
}
.meal__confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  color: #99e2d0;
  width: 4rem;
  border-radius: 0 1rem 1rem 0rem;
  display: none;
}
.meal:hover .meal__confirm {
  animation-name: scale-up-hor-right;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: flex;
}
.meal__anim {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  background-color: #ffff;
  border-radius: 100px;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(0deg);
}
.meal:hover .meal__check {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.anim-1 {
  animation-delay: 0.1s;
}

.anim-2 {
  animation-delay: 0.2s;
}

.anim-3 {
  animation-delay: 0.3s;
}

.anim-4 {
  animation-delay: 0.4s;
}

.anim-5 {
  animation-delay: 0.5s;
}

.anim-6 {
  animation-delay: 0.6s;
}

.anim-7 {
  animation-delay: 0.7s;
}

.anim-8 {
  animation-delay: 0.8s;
}

.anim-9 {
  animation-delay: 0.9s;
}

.anim-10 {
  animation-delay: 1s;
}

.btn {
  display: flex;
}
.btn__order {
  margin: 2rem auto 4rem;
  background: #9356dc;
  background: linear-gradient(352deg, #9356dc, #ff79da 100%);
  border-radius: 2rem;
  padding: 0.9rem;
  width: 12.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #ffff;
  border: none;
  cursor: pointer;
  box-shadow: 3px 10px 5px #eaeaea;
  transition: opacity, box-shadow 0.7s ease-in-out;
}
.btn__order:hover {
  opacity: 0.85;
  box-shadow: 3px 10px 5px #c5c5c5;
}/*# sourceMappingURL=styles.css.map */